<%= form_for @visitor , local: true do |f| %>
  <div class="input-field col s6">
  	<%= f.label :FullName, 'Full Name :' %>
  	<%= f.text_field :FullName%>
  </div>
  <div class="input-field col s6">
  	<%= f.label :Phone_no, 'phone number :' %>
  	<%= f.text_field :Phone_no %>
  </div>
  <div class="input-field col s6">
  	<%= f.label :BirthDay, 'Birth Day :' %>
  	<%= f.date_select :BirthDay , :start_year=>1990 , :end_year=>2005%>
  </div>

  <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>