<h1> All The Talents </h1>



<%= link_to "My Information ", new_visitor_path, { :class => "boton"}%>


<div class="d-flex justify-content-center">
<% @visitors.each do |visitor|%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><p>Your Name :</p><%= visitor.FullName%></h5>
    <h5 class="card-subtitle mb-2 text-muted"><p>Your Phone Number :</p><%= visitor.Phone_no%></h5>
    <h5 class="card-text"><p>Your BirthDay :</p><%= visitor.BirthDay%></h5>
    <div class="btn-group" role="group" aria-label="Basic example">
    <a  class="buttonAll"  role="button" aria-pressed="true" href="<%= edit_visitor_path(visitor) %>" >Edit User</a>
    <a class="buttonAll" role="button" aria-pressed="true" data-confirm="Are you sure you want to delete <%= visitor.FullName %>?" data-method="delete" href="/visitors/<%= visitor.id %>" rel="nofollow">Delete User</a>
    <a  class="buttonAll"  role="button" aria-pressed="true" href="<%=  visitor_path(visitor)%>" >See Post</a>

    
  </div>
  </div>
</div>
  <% end %>
  </div>