<h1> All the Users </h1>
<%= link_to "New User", new_visitor_path,{:class => "button waves-effect waves-light btn"}%>
<br><br>

<div>
<% @visitors.each do |visitor|%>
<h1><%= link_to visitor.FullName, visitor_path(visitor)%></h1>
<p><%= visitor.Phone_no%></p>
<p><%= visitor.BirthDay%></p>
<div>
<a class="btn-floating btn-large red" href="<%= edit_visitor_path(visitor) %>" >
           <em class="large material-icons">Edit User</em>
          </a>
        <a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= visitor.FullName %>?" data-method="delete" href="/visitors/<%= visitor.id %>" rel="nofollow"><i class="large material-icons">Delete User</i>
    	   </a>
           </div>
<% end %>
</div>