<h1> <strong><%= @visitor.FullName %></strong> Posts</h1>
<br><br>

<h3><%= link_to "New Post", new_post_path(:visitor_id => @visitor.id), { :class => "buttonAll"}%></h3>
<br><br>

<div class="d-flex justify-content-center">
<% @posts.each do |post|%>
<div class="card-group">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-title">Talent Name :</p>
<h5 class="card-subtitle mb-2 text-muted"><%= post.TalentName %></h5>
        <p class="card-text">Talent Description :</p>
       <h5 class="card-subtitle mb-2 text-muted"> <%= post.TalentDescription %></h5>
         <div class="btn-group" role="group" aria-label="Basic example">
        <a class="buttonAll" role="button" aria-pressed="true" data-confirm="Are you sure you want to delete <%= post.TalentName %>?" data-method="delete" href="/posts/<%= post.id %>" rel="nofollow"><i class="large material-icons">Delete </i>
   </a>
 </div>
  </div>
  </div>
<% end %>
</div>