<h1> <%= @visitor.FullName %> Posts</h1>
<%= link_to "New Post", new_post_path(:visitor_id => @visitor.id), { :class => "button waves-effect waves-light btn" } %>
<br><br>

<div class="row">
<% @posts.each do |post|%>
        <div class="card-panel grey lighten-2 col s4" style="margin: 10px">
        <strong><p>Talent Name :</p></strong>
        <%= post.TalentName %>
<br><br>
        <strong><p>Talent Description :</p></strong>
        <%= post.TalentDescription %>
<br><br>

        <a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= post.TalentName %>?" data-method="delete" href="/posts/<%= post.id %>" rel="nofollow"><i class="large material-icons">Delete </i>
   </a>
      </div>
<% end %>
</div>