<%= form_for @post do |f| %>
  <%= f.hidden_field :visitor_id, :value => @visitor.id %>

  <div class="input-field col s6">
  	<%= f.label :TalentName, 'Choose your Talent Name :' %>
    <%= f.select :TalentName , 
    [["Art"], ["Music"],["Photography"],["Drawing"],["Graphics"],["Singing"],["Video Creation"],["Computers / IT"],["Software"],["Typing"]],
     { label: "Choose your Talent :" }, { class: "selectpicker" } %>
  </div>
  <div class="input-field col s6">
  	<%= f.label :TalentDescription, 'Talent Description :' %>
  	<%= f.text_area :TalentDescription %>
  </div>
  <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>


