<%= form_for @post do |f| %>
  <%= f.hidden_field :visitor_id, :value => @visitor.id %>
   <div class="form-group">
  <h2>	<%= f.label :TalentName, 'Choose your Talent Name :', class: "col-md control-label" %></h2>
     <div class="col-md">
    <%= f.select :TalentName , 
    [["Art"], ["Music"],["Photography"],["Drawing"],["Graphics"],["Singing"],["Video Creation"],["Computers / IT"],["Software"],["Typing"]],
     { label: "Choose your Talent :" }, { class: "selectpicker" } %>
       </div>
      </div>

<div class="form-group ">
  <h2>	<%= f.label :TalentDescription, 'Talent Description :', class: "col-md-4 control-label "  %></h2>
    <div class="col-md ">
  	<%= f.text_area :TalentDescription, class: "form-control "  %>
   </div>
      </div>
  <%= f.submit "Submit", :class => "buttonAll" %>
<% end %>


